/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding-bottom: 80px; /* Pour compenser la hauteur du footer */
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.about-content {
    flex: 1;
    padding: 0 20px;
    text-align: justify; /* Alignement justifié */
}

.about-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-image {
    flex: 1;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #757575;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}

.last p {
    font-size: 14px;
    margin: 0;
    color: #fff;
}

.last p a {
    color: #fff;
    text-decoration: underline;
}

.last p a:hover {
    color: #f5f0ff;
}
